@import 'styles/theme.scss';

.wrapper {
   padding: 20px 0;
}

.title {
   font-size: 30px;

   span {
      color: $yellow;
   }
}

.items {
   width: 100%;
   margin-top: 50px;
   display: flex;
   justify-content: center;
   flex-wrap: wrap;
   flex-flow: wrap;
   gap: 1%;
   row-gap: 15px;
}
